{% extends 'base.html' %}

{% block content %}
<a href="{% url 'app:start' %}">Base</a>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores dignissimos,
    dolor dolorum error eum fuga harum minus molestias quaerat quasi recusandae rem sunt, tenetur ut.
    Asperiores consequuntur earum esse fugiat, hic itaque laboriosam odit quaerat qui quia,
    quis quod recusandae sapiente tempora voluptate! Amet asperiores assumenda cumque ducimus praesentium.
</p>

{% endblock content %}